<%-include('./header.ejs')  %>

    <div class="carousel slide" data-bs-ride="carousel" id="s">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#s" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#s" data-bs-slide-to="1" class="active"></button>
            <button type="button" data-bs-target="#s" data-bs-slide-to="2" class="active"></button>
        </div><!--carousel-indicators end-->

        <div class="carousel-inner mt-5">
            <div class="carousel-item active" style="margin-top:68px;">
                <img src="image/s3.jpg" alt="kg1" class="w-100">
            </div><!--carousel-item end-->
            <div class="carousel-item" style="margin-top:68px;">
                <img src="image/m.jpg" alt="s1" class="w-100" height="550">
            </div><!--carousel-item end-->
            <div class="carousel-item" style="margin-top:68px;">
                <img src="image/m2.jpg" alt="s1" class="w-100" height="550">
            </div><!--carousel-item end-->

        </div><!--carousel-inner end-->
    </div><!--carousel-slider end-->

    <div class="container">
        <div class="row mt-5 mb-2">
            <div class="col-md-4 mt-3 mb-3">
                <div class="card shadow-lg h-100">
                    <img src="image/b1.jpg" alt="no-b" height="200">

                    <div class="card-body">
                        <p>SORAV , 6/11/2024</p>
                        <h4>Good Product</h4>
                        <p>Good quality</p>
                        <a href="#" class="btn mt-5">Read more...</a>
                    </div>
                </div><!--card end-->
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="card shadow-lg h-100">
                    <img src="image/s1.webp" alt="no-b" height="200">

                    <div class="card-body">
                        <p>pankaj , 15/12/2022</p>
                        <h4>Nice contant</h4>
                        <p>better quality</p>
                        <a href="#" class="btn mt-5">Read more...</a>
                    </div>
                </div><!--card end-->
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="card shadow-lg h-100">
                    <img src="image/s4.jpg" alt="no-b" height="200">

                    <div class="card-body">
                        <p>Deepak , 10/06/2023</p>
                        <h4>Better</h4>
                        <p>Good Video Contant</p>
                        <a href="#" class="btn mt-5">Read more...</a>
                    </div>
                </div><!--card end-->
            </div>
        </div><!--row-->
    </div><!--container-fluid end-->

    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-md-4 mt-3 mb-3">
                <div class="card shadow-lg h-100">
                    <img src="image/s5.jfif" alt="no-b" height="200">

                    <div class="card-body">
                        <p>Sachin , 05/08/2022</p>
                        <h4>Better Way</h4>
                        <p>Good Brodcast</p>
                        <a href="#" class="btn mt-5">Read more...</a>
                    </div>
                </div><!--card end-->
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="card shadow-lg h-100">
                    <img src="image/b3.jpg" alt="no-b" height="200">

                    <div class="card-body">
                        <p>Anil , 12/12/2021</p>
                        <h4>Stockholder</h4>
                        <p>Better Luck</p>
                        <a href="#" class="btn mt-5">Read more...</a>
                    </div>
                </div><!--card end-->
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="card shadow-lg h-100">
                    <img src="image/b7.jfif" alt="no-b" height="200">

                    <div class="card-body">
                        <p>Abhishek , 13/06/2024</p>
                        <h4>Better Person</h4>
                        <p>Good politician</p>
                        <a href="#" class="btn mt-5">Read more...</a>
                    </div>
                </div><!--card end-->
            </div>
        </div><!--row-->
    </div><!--container-fluid end-->
    <center>
        <button class="btn btn-dander mt-5 mb-5" style="text-align: center; "> view more</button>
    </center>

<%-include('./footer.ejs')  %>